*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 100%;
}
header#headersite{
    width: 100%;
    height: 10vh;
    background-color: #616161;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255);
}
main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
}
main > section.containerform{
    width: 300px;
    height: 215px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: flex-start;
}
main > section.containerform > form#formlogin{
    height: 200px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}
header#headersite > h1.logoempresa{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 3rem;
    width: 50%;
    margin-left: 10px;
    text-shadow: 0 0 8px #ffba62;
    color: white;
    cursor: pointer;
}
header#headersite > nav#menutopo > a#btncontato{
    text-decoration: none;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    margin: 0 15px 0 15px;
}
header#headersite > nav#menutopo > a#btncontato:hover{
    background-color: whitesmoke;
    color: black;
    transition: .8s;
    text-shadow: 0 0 8px #ffba62;
}
nav{
    height: 10vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
input#btnentrar{
    height: 50%;
    cursor: pointer;
    margin-top: 10px;
    background-color: #616161;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 96%;
    color: white;
}
form#formlogin > input#btnentrar:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 1s;
    border-radius: 40px;
    margin-top: +10px;
    background-color: white;
} 
fieldset,form#formlogin > input#btnentrar{
    margin-left: 2%;
    border: 0;
    width: 96%;
}
fieldset{
    width: 80%;
}
footer{
    height: 10vh;
    background-color: #616161;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid rgb(255, 255, 255);
    color: white;
}
footer > section#footer{
    margin-left: 10px;
}
a#linkpainel{
    margin-left: 2%;
}
.inputlogin{
    width: 96%;
    margin-left: 2%;
}
legend{
    margin-left: 2%;
}
#twitter{
    font-size: 13px;
    margin-bottom: 5px;
}
#keep{
    margin-left: 2%;
}